version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
      day: monday
    versioning-strategy: increase
    groups:
      react:
        patterns:
          - 'react*'
          - '@types/react*'
      dev-dependencies:
        patterns:
          - '*eslint*'
          - '@types/*'
          - typescript
      shiki:
        patterns:
          - '@shikijs/*'
      turbo:
        patterns:
          - turbo
    ignore:
      - dependency-name: react-native
        update-types: ['version-update:semver-major']
    commit-message:
      prefix: chore(deps)
      prefix-development: chore(dev-deps)

  - package-ecosystem: npm
    directory: /packages/react-native-shiki-engine
    schedule:
      interval: monthly
      day: monday
    versioning-strategy: increase
    groups:
      react:
        patterns:
          - 'react*'
          - '@types/react*'
      shiki:
        patterns:
          - '@shikijs/*'
    ignore:
      - dependency-name: react-native
        update-types: ['version-update:semver-major']
    commit-message:
      prefix: chore(deps)

  - package-ecosystem: npm
    directory: /examples/expo-app
    schedule:
      interval: monthly
      day: monday
    groups:
      react:
        patterns:
          - 'react*'
          - '@types/react*'
      expo:
        patterns:
          - 'expo*'
          - '@expo/*'
    commit-message:
      prefix: chore(example-expo)

  - package-ecosystem: npm
    directory: /examples/react-native
    schedule:
      interval: monthly
      day: monday
    groups:
      react:
        patterns:
          - 'react*'
          - '@types/react*'
    ignore:
      - dependency-name: react-native
        update-types: ['version-update:semver-major']
    commit-message:
      prefix: chore(example-rn)

  - package-ecosystem: npm
    directory: /examples/shared
    schedule:
      interval: monthly
      day: monday
    groups:
      shiki:
        patterns:
          - '@shikijs/*'
    commit-message:
      prefix: chore(example-shared)

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      day: monday
    groups:
      actions:
        patterns:
          - '*'
    commit-message:
      prefix: ci

  - package-ecosystem: bundler
    directory: /examples/expo-app/ios
    schedule:
      interval: monthly
      day: monday
    commit-message:
      prefix: chore(ios-expo)

  - package-ecosystem: gradle
    directory: /examples/expo-app/android
    schedule:
      interval: monthly
      day: monday
    commit-message:
      prefix: chore(android-expo)

  - package-ecosystem: bundler
    directory: /examples/react-native/ios
    schedule:
      interval: monthly
      day: monday
    commit-message:
      prefix: chore(ios-rn)

  - package-ecosystem: gradle
    directory: /examples/react-native/android
    schedule:
      interval: monthly
      day: monday
    commit-message:
      prefix: chore(android-rn)
