---
BasedOnStyle: Google
ColumnLimit: 120
MaxEmptyLinesToKeep: 1
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
IndentPPDirectives: AfterHash
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeRangeBasedForLoopColon: true
Language: Cpp
Standard: c++20
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<React.*/'
    Priority: 1
  - Regex: '^<jsi/'
    Priority: 2
  - Regex: '^<.*\.h>'
    Priority: 3
  - Regex: '^<.*'
    Priority: 4
  - Regex: '.*'
    Priority: 5
ReferenceAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlignOperands: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1
AlignConsecutiveMacros: Consecutive
ContinuationIndentWidth: 2
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -1
EmptyLineBeforeAccessModifier: LogicalBlock
CommentPragmas: '^ NOLINT'
NamespaceIndentation: Inner
IndentExternBlock: AfterExternBlock
StatementMacros:
  - 'RCT_EXPORT_METHOD'
  - 'RCT_EXPORT_BLOCKING_SYNCHRONOUS_METHOD'
  - 'RCT_EXPORT_SYNCHRONOUS_TYPED_METHOD'
  - 'RCT_ENUM_VALUES'
  - 'RCT_EXPORT_VIEW_PROPERTY'
WhitespaceSensitiveMacros:
  - 'RCT_EXPORT_MODULE'
  - 'RCT_EXTERN_MODULE'
---
Language: ObjC
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: 2
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
StatementMacros:
  - 'RCT_EXPORT_METHOD'
  - 'RCT_EXPORT_BLOCKING_SYNCHRONOUS_METHOD'
  - 'RCT_EXPORT_SYNCHRONOUS_TYPED_METHOD'
  - 'RCT_ENUM_VALUES'
  - 'RCT_EXPORT_VIEW_PROPERTY'
WhitespaceSensitiveMacros:
  - 'RCT_EXPORT_MODULE'
  - 'RCT_EXTERN_MODULE'
