[submodule "thirdparty/oniguruma"]
	path = thirdparty/oniguruma
	url = https://github.com/kkos/oniguruma.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
