.DS_Store
.idea
.turbo/
.expo/
.gradle
.cxx/
.kotlin/
.metro-health-check*
**/.xcode.env.local
**/Pods/

build/
DerivedData
lib/
node_modules/
vendor/bundle/
xcuserdata
local.properties

*.iml
*.jsbundle
*.keystore
!debug.keystore
*.xcuserstate

examples/expo-app/ios
examples/expo-app/android
