name: Build Android

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-android.yml
      - 'packages/react-native-shiki-engine/cpp/**'
      - 'packages/react-native-shiki-engine/android/**'
      - 'examples/react-native/android/**'
  pull_request:
    paths:
      - .github/workflows/build-android.yml
      - 'packages/react-native-shiki-engine/cpp/**'
      - 'packages/react-native-shiki-engine/android/**'
      - 'examples/react-native/android/**'

jobs:
  build_example:
    name: Build Android Example App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Android App
        run: ./gradlew assembleDebug --no-daemon --stacktrace
        working-directory: examples/react-native/android
